In [2]:
import pandas as pd

In [2]:
# Lista de años a procesar
years = [2017, 2018, 2019, 2020, 2021]
all_dfs = []

# Cargar y procesar cada archivo desde el subdirectorio "Hours worked/"
for year in years:
    file_path = f"Parte1/Hours worked/hours_worked_{year}.csv"
    
    df = pd.read_csv(
        file_path,
        sep=';',
        skiprows=3,
        names=['country', 'hours_worked'],
        decimal=','
    )
    df['year'] = year
    all_dfs.append(df)

In [3]:
# Unir todos los dataframes
combined_df = pd.concat(all_dfs, ignore_index=True)

# Agrupar por país y calcular la media de horas trabajadas
hours_worked_df = (
    combined_df
    .groupby('country')['hours_worked']
    .mean()
    .reset_index(name='avg_hours_worked')
)

hours_worked_df.head()

     country  avg_hours_worked
0  Australia            1640.4
1    Austria            1469.4
2    Belgium            1542.2
3     Canada            1684.0
4      Chile            1923.6

In [4]:
hours_worked_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           39 non-null     object
 1   avg_hours_worked  39 non-null     float64
dtypes: float64(1), object(1)
memory usage: 756.0+ bytes

In [5]:
hours_worked_df.describe()

       avg_hours_worked
count         39.000000
mean        1679.229231
std          214.882704
min         1361.280000
25%         1516.000000
50%         1653.000000
75%         1751.300000
max         2304.200000

In [6]:
# Leer el archivo Excel, hoja principal
happiness_df = pd.read_excel(
    "Parte1/Happiness/Data for Figure 2.1 (2011–2024).xlsx", 
    sheet_name='Data for Figure 2.1 (2011–2024)' 
)
happiness_df.head()

,Year,Rank,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2024,1,Finland,7.736,7.810,7.662,1.749,1.783,0.824,0.986,0.110,0.502,1.782
1,2023,143,Afghanistan,1.721,1.775,1.667,0.628,0.000,0.242,0.000,0.091,0.088,0.672
2,2022,137,Afghanistan,1.859,1.923,1.795,0.645,0.000,0.087,0.000,0.093,0.059,0.976
3,2021,146,Afghanistan,2.404,2.469,2.339,0.758,0.000,0.289,0.000,0.089,0.005,1.263
4,2020,150,Afghanistan,2.523,2.596,2.449,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [7]:
# Filtrar solo los años 2017 a 2021
happiness_filtered = happiness_df[happiness_df['Year'].between(2017, 2021)]

# Eliminar la columna 'Year' para que no entre en el cálculo de la media
happiness_filtered = happiness_filtered.drop(columns=['Year'])

# Agrupar por país y calcular la media de las demás columnas numéricas
happiness_df = (
    happiness_filtered
    .groupby('Country name')
    .mean(numeric_only=True)
    .reset_index()
    .rename(columns={'Country name': 'country'})
)

happiness_df.head()

,country,Rank,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Afghanistan,149.6,2.86578,2.564423,2.431177,0.476235,0.118811,0.227017,0.000000,0.115412,0.005409,1.555079
1,Albania,101.6,4.90074,5.182562,4.949904,1.117884,0.668495,0.737110,0.487982,0.159009,0.025787,1.869632
2,Algeria,95.6,5.10402,5.099267,4.910466,1.084285,0.959335,0.646806,0.116315,0.122972,0.133064,1.942271
3,Angola,142.0,3.79500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,49.2,6.06894,6.069815,5.844318,1.260822,1.151515,0.719258,0.539947,0.073367,0.070805,2.141514

In [8]:
happiness_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 12 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   country                                     162 non-null    object
 1   Rank                                        162 non-null    float64
 2   Ladder score                                162 non-null    float64
 3   upperwhisker                                155 non-null    float64
 4   lowerwhisker                                155 non-null    float64
 5   Explained by: Log GDP per capita            155 non-null    float64
 6   Explained by: Social support                155 non-null    float64
 7   Explained by: Healthy life expectancy       155 non-null    float64
 8   Explained by: Freedom to make life choices  155 non-null    float64
 9   Explained by: Generosity                    155 non-null    float64
 10  Explained by: Perceptions of corruption     155 non-null    float64
 11  Dystopia + residual                         155 non-null    float64
dtypes: float64(11), object(1)
memory usage: 15.3+ KB

In [9]:
osmi_df = pd.read_csv('Parte1/OSMI/data.csv')
health_df = pd.read_csv('Parte1/world_health_data.csv')
hdi_df = pd.read_csv('Parte1/HDI/human-development-index.csv')

In [10]:
display(osmi_df.head())
display(health_df.head())
display(hdi_df.head())

,tech_company,benefits,workplace_resources,mh_employer_discussion,mh_coworker_discussion,medical_coverage,mental_health,mh_share,age,gender,country
0,Yes,No,I don't know,No,Yes,Yes,Possibly,5,27.0,Female,United Kingdom
1,Yes,Yes,No,No,Yes,Yes,Possibly,4,31.0,Male,United Kingdom
2,Yes,I don't know,No,Yes,Yes,No,Yes,5,36.0,Male,United States of America
3,Yes,Yes,I don't know,Yes,Yes,Yes,Yes,10,22.0,Male,United States of America
4,Yes,Yes,No,No,Yes,Yes,Yes,8,36.0,Female,United States of America

,country,country_code,year,health_exp,life_expect,maternal_mortality,infant_mortality,neonatal_mortality,under_5_mortality,prev_hiv,inci_tuberc,prev_undernourishment
0,Aruba,ABW,1999,NaN,73.561000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,1999,NaN,51.258874,NaN,88.285642,38.433841,142.506373,6.684793,NaN,NaN
2,Afghanistan,AFG,1999,NaN,54.846000,NaN,94.600000,64.000000,135.800000,0.100000,NaN,NaN
3,Africa Western and Central,AFW,1999,NaN,49.726429,NaN,101.541373,44.733554,173.943151,NaN,NaN,NaN
4,Angola,AGO,1999,NaN,45.386000,NaN,123.500000,51.000000,208.000000,1.300000,NaN,NaN

        Entity Code  Year  Human Development Index
0  Afghanistan  AFG  1990                    0.284
1  Afghanistan  AFG  1991                    0.292
2  Afghanistan  AFG  1992                    0.299
3  Afghanistan  AFG  1993                    0.307
4  Afghanistan  AFG  1994                    0.300

In [11]:
osmi_df['country'].unique()

array(['United Kingdom', 'United States of America', 'Germany', 'Canada',
       'Portugal', 'Spain', 'Australia', 'Greece', 'France',
       'Netherlands', 'Mexico', 'Sweden', 'India', 'Ireland',
       'Switzerland', 'Finland', 'Mauritius', 'Norway', 'Pakistan',
       'Brazil', 'Estonia', 'Poland', 'Japan', 'Philippines', 'Indonesia',
       'Mongolia', 'Macedonia', 'Austria', 'Kenya', 'Colombia'],
      dtype=object)

In [14]:
# Crear un diccionario de reemplazo 
reemplazos = {
    'United States of America': 'United States',
    'Macedonia': 'North Macedonia'
}

# Reemplazar nombres en OSMI
osmi_df['country'] = osmi_df['country'].replace(reemplazos)

In [18]:
osmi_df['country'].unique()

array(['United Kingdom', 'United States', 'Germany', 'Canada', 'Portugal',
       'Spain', 'Australia', 'Greece', 'France', 'Netherlands', 'Mexico',
       'Sweden', 'India', 'Ireland', 'Switzerland', 'Finland',
       'Mauritius', 'Norway', 'Pakistan', 'Brazil', 'Estonia', 'Poland',
       'Japan', 'Philippines', 'Indonesia', 'Mongolia', 'North Macedonia',
       'Austria', 'Kenya', 'Colombia'], dtype=object)

In [19]:
happiness_df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Côte d’Ivoire', 'DR Congo', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Eswatini', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea',
       'Haiti', 'Honduras', 'Hong Kong SAR of China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Lao PDR', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Cyprus', 'North Macedonia', 'Norway',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'State of Palestine', 'Sudan', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkmenistan', 'Türkiye', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [20]:
# Filtrar solo años 2017–2021
health_filtered = health_df[health_df['year'].between(2017, 2021)]

In [21]:
# Calcular media de health_exp por país
health_avg = (
    health_filtered.groupby('country')['health_exp']
    .mean()
    .reset_index(name='avg_health_exp')
)

In [22]:
# Unir al dataset de OSMI por 'country'
merged_df = osmi_df.merge(health_avg, on='country', how='left')
merged_df.head()

,tech_company,benefits,workplace_resources,mh_employer_discussion,mh_coworker_discussion,medical_coverage,mental_health,mh_share,age,gender,country,avg_health_exp
0,Yes,No,I don't know,No,Yes,Yes,Possibly,5,27.0,Female,United Kingdom,10.761526
1,Yes,Yes,No,No,Yes,Yes,Possibly,4,31.0,Male,United Kingdom,10.761526
2,Yes,I don't know,No,Yes,Yes,No,Yes,5,36.0,Male,United States,17.236348
3,Yes,Yes,I don't know,Yes,Yes,Yes,Yes,10,22.0,Male,United States,17.236348
4,Yes,Yes,No,No,Yes,Yes,Yes,8,36.0,Female,United States,17.236348

In [26]:
merged_df.isnull().sum()

tech_company              0
benefits                  0
workplace_resources       0
mh_employer_discussion    0
mh_coworker_discussion    0
medical_coverage          0
mental_health             0
mh_share                  0
age                       0
gender                    0
country                   0
avg_health_exp            0
dtype: int64

In [31]:
merged_df['country'].unique()

array(['United Kingdom', 'United States', 'Germany', 'Canada', 'Portugal',
       'Spain', 'Australia', 'Greece', 'France', 'Netherlands', 'Mexico',
       'Sweden', 'India', 'Ireland', 'Switzerland', 'Finland',
       'Mauritius', 'Norway', 'Pakistan', 'Brazil', 'Estonia', 'Poland',
       'Japan', 'Philippines', 'Indonesia', 'Mongolia', 'North Macedonia',
       'Austria', 'Kenya', 'Colombia'], dtype=object)

In [38]:
merged_df.head()

,tech_company,benefits,workplace_resources,mh_employer_discussion,mh_coworker_discussion,medical_coverage,mental_health,mh_share,age,gender,country,avg_health_exp
0,Yes,No,I don't know,No,Yes,Yes,Possibly,5,27.0,Female,United Kingdom,10.761526
1,Yes,Yes,No,No,Yes,Yes,Possibly,4,31.0,Male,United Kingdom,10.761526
2,Yes,I don't know,No,Yes,Yes,No,Yes,5,36.0,Male,United States,17.236348
3,Yes,Yes,I don't know,Yes,Yes,Yes,Yes,10,22.0,Male,United States,17.236348
4,Yes,Yes,No,No,Yes,Yes,Yes,8,36.0,Female,United States,17.236348

In [40]:
merged_df.describe()

          mh_share          age  avg_health_exp
count  1242.000000  1242.000000     1242.000000
mean      6.572464    35.030598       15.579395
std       2.701952     8.186624        3.140991
min       0.000000    19.000000        2.865233
25%       5.000000    29.000000       17.236348
50%       7.000000    34.000000       17.236348
75%       9.000000    40.000000       17.236348
max      10.000000    66.000000       17.236348

In [43]:
def clasificar_gasto(row):
    if row < 5:
        return 'Bajo'
    elif row < 8:
        return 'Medio'
    else:
        return 'Alto'

merged_df['health_exp_category'] = merged_df['avg_health_exp'].apply(clasificar_gasto)

In [45]:
# Filtrar solo los años 2017 a 2021
hdi_filtered = hdi_df[hdi_df['Year'].between(2017, 2021)]

In [47]:
# 2. Calcular la media del HDI por país
hdi_avg = (
    hdi_filtered.groupby('Entity')['Human Development Index']
    .mean()
    .reset_index(name='avg_hdi')
)

In [49]:
# Unir el HDI medio al dataset principal 
merged_df = merged_df.merge(hdi_avg, left_on='country', right_on='Entity', how='left')

In [51]:
# 4. Clasificar según los rangos oficiales del UNDP
def clasificar_hdi(hdi):
    if hdi < 0.550:
        return 'Bajo'
    elif hdi < 0.700:
        return 'Medio'
    elif hdi < 0.800:
        return 'Alto'
    else:
        return 'Muy alto'

In [53]:
merged_df['hdi_category'] = merged_df['avg_hdi'].apply(clasificar_hdi)

In [55]:
merged_df.head()

,tech_company,benefits,workplace_resources,mh_employer_discussion,mh_coworker_discussion,medical_coverage,mental_health,mh_share,age,gender,country,avg_health_exp,health_exp_category,Entity,avg_hdi,hdi_category
0,Yes,No,I don't know,No,Yes,Yes,Possibly,5,27.0,Female,United Kingdom,10.761526,Alto,United Kingdom,0.9282,Muy alto
1,Yes,Yes,No,No,Yes,Yes,Possibly,4,31.0,Male,United Kingdom,10.761526,Alto,United Kingdom,0.9282,Muy alto
2,Yes,I don't know,No,Yes,Yes,No,Yes,5,36.0,Male,United States,17.236348,Alto,United States,0.9270,Muy alto
3,Yes,Yes,I don't know,Yes,Yes,Yes,Yes,10,22.0,Male,United States,17.236348,Alto,United States,0.9270,Muy alto
4,Yes,Yes,No,No,Yes,Yes,Yes,8,36.0,Female,United States,17.236348,Alto,United States,0.9270,Muy alto

In [57]:
merged_df.tail()

,tech_company,benefits,workplace_resources,mh_employer_discussion,mh_coworker_discussion,medical_coverage,mental_health,mh_share,age,gender,country,avg_health_exp,health_exp_category,Entity,avg_hdi,hdi_category
1237,No,I don't know,No,No,Yes,Yes,Yes,0,45.0,Male,United States,17.236348,Alto,United States,0.9270,Muy alto
1238,No,Yes,Yes,No,No,Yes,Yes,10,30.0,Female,United States,17.236348,Alto,United States,0.9270,Muy alto
1239,No,Yes,Yes,Yes,Yes,Yes,Yes,9,35.0,Male,United States,17.236348,Alto,United States,0.9270,Muy alto
1240,Yes,Yes,Yes,No,No,Yes,No,10,46.0,Male,United States,17.236348,Alto,United States,0.9270,Muy alto
1241,Yes,No,No,No,Yes,Yes,Yes,6,33.0,Male,Germany,12.031776,Alto,Germany,0.9474,Muy alto

In [59]:
merged_df[merged_df['hdi_category'] == 'Alto']

,tech_company,benefits,workplace_resources,mh_employer_discussion,mh_coworker_discussion,medical_coverage,mental_health,mh_share,age,gender,country,avg_health_exp,health_exp_category,Entity,avg_hdi,hdi_category
199,Yes,Yes,Yes,No,Yes,Yes,Possibly,5,24.0,Male,Mexico,5.717948,Medio,Mexico,0.7700,Alto
249,Yes,Yes,No,No,No,Yes,Don't Know,5,24.0,Male,Mexico,5.717948,Medio,Mexico,0.7700,Alto
588,Yes,Yes,No,No,No,Yes,No,2,37.0,Female,Mauritius,6.030693,Medio,Mauritius,0.7970,Alto
1032,No,Yes,No,Yes,No,Yes,Don't Know,2,19.0,Male,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1033,No,Yes,No,Yes,No,Yes,Don't Know,6,31.0,Male,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1034,No,Yes,Yes,Yes,No,Yes,Yes,5,30.0,Male,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1035,No,Yes,I don't know,No,No,Yes,Yes,6,29.0,Male,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1036,Yes,Yes,No,No,Yes,Yes,Yes,3,32.0,Male,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1054,No,Yes,No,No,Yes,Yes,Yes,8,28.0,Male,Mexico,5.717948,Medio,Mexico,0.7700,Alto
1082,Yes,Yes,No,Yes,Yes,Yes,No,10,26.0,Female,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1088,Yes,Yes,Yes,Yes,Yes,Yes,Yes,8,38.0,Male,Philippines,4.622000,Bajo,Philippines,0.7034,Alto
1092,No,Yes,Yes,No,Yes,Yes,Possibly,4,32.0,Male,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1098,Yes,Yes,Yes,No,Yes,Yes,Yes,5,22.0,Other,Indonesia,3.155483,Bajo,Indonesia,0.7114,Alto
1114,Yes,Yes,No,No,Yes,Yes,Don't Know,5,31.0,Male,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1125,No,Yes,Yes,No,Yes,Yes,Possibly,8,35.0,Female,Mongolia,4.989314,Bajo,Mongolia,0.7430,Alto
1133,Yes,Yes,No,No,No,Yes,Don't Know,7,29.0,Female,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1156,Yes,Yes,Yes,No,Yes,Yes,No,5,26.0,Female,Indonesia,3.155483,Bajo,Indonesia,0.7114,Alto
1178,Yes,Yes,Yes,No,Yes,Yes,Possibly,4,23.0,Female,Philippines,4.622000,Bajo,Philippines,0.7034,Alto
1183,Yes,Yes,Yes,No,No,Yes,No,10,41.0,Male,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1184,Yes,Yes,I don't know,No,Yes,Yes,No,5,35.0,Male,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1189,Yes,Yes,I don't know,No,No,Yes,No,6,24.0,Female,North Macedonia,7.244000,Medio,North Macedonia,0.7804,Alto
1201,No,Yes,Yes,Yes,Yes,Yes,No,5,31.0,Male,Brazil,9.724713,Alto,Brazil,0.7596,Alto
1221,Yes,Yes,No,No,No,Yes,Yes,10,36.0,Male,Colombia,8.163130,Alto,Colombia,0.7614,Alto

In [61]:
merged_df.describe()

          mh_share          age  avg_health_exp      avg_hdi
count  1242.000000  1242.000000     1242.000000  1242.000000
mean      6.572464    35.030598       15.579395     0.920370
std       2.701952     8.186624        3.140991     0.039499
min       0.000000    19.000000        2.865233     0.535800
25%       5.000000    29.000000       17.236348     0.927000
50%       7.000000    34.000000       17.236348     0.927000
75%       9.000000    40.000000       17.236348     0.927000
max      10.000000    66.000000       17.236348     0.961400

In [63]:
merged_df = merged_df.drop(columns=['Entity'])

In [65]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tech_company            1242 non-null   object
 1   benefits                1242 non-null   object
 2   workplace_resources     1242 non-null   object
 3   mh_employer_discussion  1242 non-null   object
 4   mh_coworker_discussion  1242 non-null   object
 5   medical_coverage        1242 non-null   object
 6   mental_health           1242 non-null   object
 7   mh_share                1242 non-null   int64
 8   age                     1242 non-null   float64
 9   gender                  1242 non-null   object
 10  country                 1242 non-null   object
 11  avg_health_exp          1242 non-null   float64
 12  health_exp_category     1242 non-null   object
 13  avg_hdi                 1242 non-null   float64
 14  hdi_category            1242 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 145.7+ KB

In [67]:
# Unir horas trabajadas (avg_hours) al dataset principal
merged_df = merged_df.merge(
    hours_worked_df,
    on='country',
    how='left'
)

# Unir indicadores del World Happiness Report (happiness_avg)
merged_df = merged_df.merge(
    happiness_df,
    on='country',
    how='left'
)

merged_df.head()

,tech_company,benefits,workplace_resources,mh_employer_discussion,mh_coworker_discussion,medical_coverage,mental_health,mh_share,age,gender,...,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Yes,No,I don't know,No,Yes,Yes,Possibly,5,27.0,Female,...,7.00790,7.131113,6.982888,1.521020,1.220948,0.827567,0.567390,0.334144,0.319201,2.266574
1,Yes,Yes,No,No,Yes,Yes,Possibly,4,31.0,Male,...,7.00790,7.131113,6.982888,1.521020,1.220948,0.827567,0.567390,0.334144,0.319201,2.266574
2,Yes,I don't know,No,Yes,Yes,No,Yes,5,36.0,Male,...,6.92912,7.048113,6.863620,1.629662,1.205596,0.693539,0.554203,0.256714,0.161095,2.455042
3,Yes,Yes,I don't know,Yes,Yes,Yes,Yes,10,22.0,Male,...,6.92912,7.048113,6.863620,1.629662,1.205596,0.693539,0.554203,0.256714,0.161095,2.455042
4,Yes,Yes,No,No,Yes,Yes,Yes,8,36.0,Female,...,6.92912,7.048113,6.863620,1.629662,1.205596,0.693539,0.554203,0.256714,0.161095,2.455042

In [69]:
merged_df.hdi_category.unique()

array(['Muy alto', 'Alto', 'Medio', 'Bajo'], dtype=object)

In [71]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 27 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   tech_company                                1242 non-null   object
 1   benefits                                    1242 non-null   object
 2   workplace_resources                         1242 non-null   object
 3   mh_employer_discussion                      1242 non-null   object
 4   mh_coworker_discussion                      1242 non-null   object
 5   medical_coverage                            1242 non-null   object
 6   mental_health                               1242 non-null   object
 7   mh_share                                    1242 non-null   int64
 8   age                                         1242 non-null   float64
 9   gender                                      1242 non-null   object
 10  country                                     1242 non-null   object
 11  avg_health_exp                              1242 non-null   float64
 12  health_exp_category                         1242 non-null   object
 13  avg_hdi                                     1242 non-null   float64
 14  hdi_category                                1242 non-null   object
 15  avg_hours_worked                            1210 non-null   float64
 16  Rank                                        1242 non-null   float64
 17  Ladder score                                1242 non-null   float64
 18  upperwhisker                                1242 non-null   float64
 19  lowerwhisker                                1242 non-null   float64
 20  Explained by: Log GDP per capita            1242 non-null   float64
 21  Explained by: Social support                1242 non-null   float64
 22  Explained by: Healthy life expectancy       1242 non-null   float64
 23  Explained by: Freedom to make life choices  1242 non-null   float64
 24  Explained by: Generosity                    1242 non-null   float64
 25  Explained by: Perceptions of corruption     1242 non-null   float64
 26  Dystopia + residual                         1242 non-null   float64
dtypes: float64(15), int64(1), object(11)
memory usage: 262.1+ KB

In [73]:
merged_df.head()

,tech_company,benefits,workplace_resources,mh_employer_discussion,mh_coworker_discussion,medical_coverage,mental_health,mh_share,age,gender,...,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Yes,No,I don't know,No,Yes,Yes,Possibly,5,27.0,Female,...,7.00790,7.131113,6.982888,1.521020,1.220948,0.827567,0.567390,0.334144,0.319201,2.266574
1,Yes,Yes,No,No,Yes,Yes,Possibly,4,31.0,Male,...,7.00790,7.131113,6.982888,1.521020,1.220948,0.827567,0.567390,0.334144,0.319201,2.266574
2,Yes,I don't know,No,Yes,Yes,No,Yes,5,36.0,Male,...,6.92912,7.048113,6.863620,1.629662,1.205596,0.693539,0.554203,0.256714,0.161095,2.455042
3,Yes,Yes,I don't know,Yes,Yes,Yes,Yes,10,22.0,Male,...,6.92912,7.048113,6.863620,1.629662,1.205596,0.693539,0.554203,0.256714,0.161095,2.455042
4,Yes,Yes,No,No,Yes,Yes,Yes,8,36.0,Female,...,6.92912,7.048113,6.863620,1.629662,1.205596,0.693539,0.554203,0.256714,0.161095,2.455042

In [75]:
final_df = merged_df.rename(columns={
    'avg_health_exp': 'avg_health_exp_country',
    'health_exp_category': 'health_exp_category_country',
    'avg_hdi': 'avg_hdi_country',
    'hdi_category': 'hdi_category_country',
    'avg_hours_worked_x': 'avg_hours_worked_country',
    'Ladder score': 'life_satisfaction_score_country',
    'upperwhisker': 'happiness_ci_upper_country',
    'lowerwhisker': 'happiness_ci_lower_country',
    'Explained by: Social support': 'social_support_country',
    'Explained by: Freedom to make life choices': 'freedom_life_choices_country',
    'Explained by: Generosity': 'generosity_country',
    'Explained by: Log GDP per capita': 'gdp_log_country',
    'Explained by: Healthy life expectancy': 'healthy_life_expectancy_country',
    'Explained by: Perceptions of corruption': 'corruption_perception_country',
    'Dystopia + residual': 'residual_happiness_country',
    'Rank': 'happiness_rank_country'
})

final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tech_company                     1242 non-null   object
 1   benefits                         1242 non-null   object
 2   workplace_resources              1242 non-null   object
 3   mh_employer_discussion           1242 non-null   object
 4   mh_coworker_discussion           1242 non-null   object
 5   medical_coverage                 1242 non-null   object
 6   mental_health                    1242 non-null   object
 7   mh_share                         1242 non-null   int64
 8   age                              1242 non-null   float64
 9   gender                           1242 non-null   object
 10  country                          1242 non-null   object
 11  avg_health_exp_country           1242 non-null   float64
 12  health_exp_category_country      1242 non-null   object
 13  avg_hdi_country                  1242 non-null   float64
 14  hdi_category_country             1242 non-null   object
 15  avg_hours_worked                 1210 non-null   float64
 16  happiness_rank_country           1242 non-null   float64
 17  life_satisfaction_score_country  1242 non-null   float64
 18  happiness_ci_upper_country       1242 non-null   float64
 19  happiness_ci_lower_country       1242 non-null   float64
 20  gdp_log_country                  1242 non-null   float64
 21  social_support_country           1242 non-null   float64
 22  healthy_life_expectancy_country  1242 non-null   float64
 23  freedom_life_choices_country     1242 non-null   float64
 24  generosity_country               1242 non-null   float64
 25  corruption_perception_country    1242 non-null   float64
 26  residual_happiness_country       1242 non-null   float64
dtypes: float64(15), int64(1), object(11)
memory usage: 262.1+ KB

In [77]:
# Ver los países en merged_df (conjunto principal) que no tienen un valor en avg_hours_worked_country
missing_hours = final_df[final_df['avg_hours_worked'].isna()]['country'].unique()

# Mostrar los países que están causando el problema
print("Países sin coincidencia en horas trabajadas:")
print(missing_hours)

# Verificar los valores únicos de la columna 'country' en avg_hours_worked_country
missing_hours_in_avg = hours_worked_df['country'].unique()
print("Países en el conjunto de horas trabajadas:")
print(missing_hours_in_avg)

Países sin coincidencia en horas trabajadas:
['India' 'Mauritius' 'Pakistan' 'Brazil' 'Philippines' 'Indonesia'
 'Mongolia' 'North Macedonia' 'Kenya']
Países en el conjunto de horas trabajadas:
['Australia' 'Austria' 'Belgium' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Czechia' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany' 'Greece'
 'Hungary' 'Iceland' 'Ireland' 'Israel' 'Italy' 'Japan' 'Korea' 'Latvia'
 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'OECD' 'Poland' 'Portugal' 'Slovak Rep.' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Türkiye' 'United Kingdom' 'United States']

In [79]:
final_df['country'].unique()

array(['United Kingdom', 'United States', 'Germany', 'Canada', 'Portugal',
       'Spain', 'Australia', 'Greece', 'France', 'Netherlands', 'Mexico',
       'Sweden', 'India', 'Ireland', 'Switzerland', 'Finland',
       'Mauritius', 'Norway', 'Pakistan', 'Brazil', 'Estonia', 'Poland',
       'Japan', 'Philippines', 'Indonesia', 'Mongolia', 'North Macedonia',
       'Austria', 'Kenya', 'Colombia'], dtype=object)

In [81]:
final_df['mh_share'].unique()

array([ 5,  4, 10,  8,  3,  2,  9,  7,  6,  1,  0])

In [83]:
final_df['age'] = final_df['age'].astype(int)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tech_company                     1242 non-null   object
 1   benefits                         1242 non-null   object
 2   workplace_resources              1242 non-null   object
 3   mh_employer_discussion           1242 non-null   object
 4   mh_coworker_discussion           1242 non-null   object
 5   medical_coverage                 1242 non-null   object
 6   mental_health                    1242 non-null   object
 7   mh_share                         1242 non-null   int64
 8   age                              1242 non-null   int64
 9   gender                           1242 non-null   object
 10  country                          1242 non-null   object
 11  avg_health_exp_country           1242 non-null   float64
 12  health_exp_category_country      1242 non-null   object
 13  avg_hdi_country                  1242 non-null   float64
 14  hdi_category_country             1242 non-null   object
 15  avg_hours_worked                 1210 non-null   float64
 16  happiness_rank_country           1242 non-null   float64
 17  life_satisfaction_score_country  1242 non-null   float64
 18  happiness_ci_upper_country       1242 non-null   float64
 19  happiness_ci_lower_country       1242 non-null   float64
 20  gdp_log_country                  1242 non-null   float64
 21  social_support_country           1242 non-null   float64
 22  healthy_life_expectancy_country  1242 non-null   float64
 23  freedom_life_choices_country     1242 non-null   float64
 24  generosity_country               1242 non-null   float64
 25  corruption_perception_country    1242 non-null   float64
 26  residual_happiness_country       1242 non-null   float64
dtypes: float64(14), int64(2), object(11)
memory usage: 262.1+ KB

In [85]:
final_df[final_df["country"] == "United Kingdom"]["happiness_rank_country"]

0       16.4
1       16.4
11      16.4
12      16.4
14      16.4
        ...
1158    16.4
1165    16.4
1176    16.4
1217    16.4
1227    16.4
Name: happiness_rank_country, Length: 94, dtype: float64

In [87]:
final_df["happiness_rank_country"].unique()

array([ 16.4 ,  18.2 ,  15.4 ,  11.4 ,  63.4 ,  30.2 ,  73.  ,  22.4 ,
         5.6 ,  30.8 ,   7.6 , 138.6 ,  15.  ,   4.4 ,   1.2 ,  52.8 ,
         5.  ,  87.  ,  33.2 ,  49.2 ,  43.6 ,  57.  ,  62.8 ,  88.4 ,
        79.4 ,  89.25,  10.6 , 121.4 ,  48.6 ])

In [89]:
# Corregir ranking columna happiness_rank_country
ranking_df = (
    final_df.groupby("country")["happiness_rank_country"]
    .agg(lambda x: x.mode().iloc[0]) 
    .astype(int)                      
    .reset_index()
)

final_df = final_df.drop(columns=["happiness_rank_country"]).merge(ranking_df, on="country", how="left")
final_df["happiness_rank_country"].unique()

array([ 16,  18,  15,  11,  63,  30,  73,  22,   5,   7, 138,   4,   1,
        52,  87,  33,  49,  43,  57,  62,  88,  79,  89,  10, 121,  48])

In [91]:
# Normalizar nombres de países para Flourish
country_mapping = {
    "United States": "United States of America",
    "United Kingdom": "United Kingdom",
    "Macedonia": "North Macedonia"
}

final_df["country"] = final_df["country"].replace(country_mapping)

In [93]:
# Exportar el DataFrame completo
final_df.to_csv("csv/df.csv", index=False)

In [95]:
# Generar CSV para Flourish con variables estructurales normalizadas entre 0 y 1
# Lista de columnas seleccionadas
columns = [
    "avg_health_exp_country",
    "avg_hdi_country",
    "happiness_rank_country", # está columna será invertida (ranking 1 = país más feliz)
    "life_satisfaction_score_country",
    "gdp_log_country",
    "social_support_country",
    "healthy_life_expectancy_country",
    "freedom_life_choices_country",
    "generosity_country",
    "corruption_perception_country"
]

# Agrupar por país
map_df = final_df.groupby("country")[columns].mean().reset_index()

# Invertimos el ranking para que "más feliz" (puesto 1) tenga valor alto al normalizar
map_df["happiness_rank_country"] = -map_df["happiness_rank_country"]

# Normalización manual (min-max) con Pandas
for col in columns:
    min_val = map_df[col].min()
    max_val = map_df[col].max()
    map_df[col] = (map_df[col] - min_val) / (max_val - min_val)

# Exportar CSV final
map_df.to_csv("csv/flourish_map_structural_variables_normalized.csv", index=False)

In [97]:
# Flourish: gráfico de barras agrupadas o apiladas para comparar beneficios y recursos según tipo de empresa

subset = final_df[["tech_company", "benefits", "workplace_resources"]]

# Agrupar y contar combinaciones
grouped = subset.groupby(["tech_company", "benefits", "workplace_resources"]).size().reset_index(name="count")

# Exportar el CSV dentro de la carpeta 'csv'
grouped.to_csv("csv/flourish_benefits_by_tech_company.csv", index=False)

In [99]:
# Verifica si North Macedonia tiene valores en avg_hdi_country
final_df[final_df["country"] == "North Macedonia"]["avg_hdi_country"].unique()

array([0.7804])

In [105]:
# Flourish: Empresas tecnológicas vs no tecnológicas
# Variables que vamos a agrupar
cols_to_analyze = ["benefits", "workplace_resources", "medical_coverage"]

# Inicializamos un DataFrame vacío
grouped_data = []

# Agrupamos por tipo de empresa y calculamos el % de "Yes" para cada variable
for col in cols_to_analyze:
    temp = (
        final_df.groupby("tech_company")[col]
        .value_counts(normalize=True)  # porcentaje
        .rename("percentage")
        .reset_index()
    )
    # Filtramos solo las respuestas "Yes"
    temp = temp[temp[col] == "Yes"]
    temp["variable"] = col
    grouped_data.append(temp[["tech_company", "variable", "percentage"]])

# Unimos todos los resultados
bar_df = pd.concat(grouped_data)

# Pivotamos para que cada variable sea una columna (opcional para Flourish)
bar_pivot = bar_df.pivot(index="tech_company", columns="variable", values="percentage").reset_index()

# Exportar CSV
bar_pivot.to_csv("csv/flourish_bar_tech_vs_support.csv", index=False)

In [107]:
# Gráfico: ¿Influye el HDI del país en que las personas puedan hablar con su jefe sobre salud mental?

# Limpiar columnas
final_df["mh_employer_discussion"] = final_df["mh_employer_discussion"].str.strip()
final_df["mental_health"] = final_df["mental_health"].str.strip()

# Filtrar personas que declaran tener un trastorno de salud mental
depressed_df = final_df[final_df["mental_health"] == "Yes"]

# Asegurarse de que hay respuestas válidas
valid = depressed_df[depressed_df["mh_employer_discussion"].isin(["Yes", "No", "Maybe"])]

# Calcular total por país
total = valid.groupby("country").size().rename("total_with_mental_health")

# Calcular cuántos dijeron "Yes" (pueden hablar con su jefe)
can_discuss = valid[valid["mh_employer_discussion"] == "Yes"].groupby("country").size().rename("yes_discussion")

# Unir y calcular el porcentaje
df = pd.concat([total, can_discuss], axis=1).fillna(0)
df["percent_discuss_with_disorder"] = df["yes_discussion"] / df["total_with_mental_health"]

# Añadir HDI por país
hdi = final_df[["country", "avg_hdi_country"]].drop_duplicates()
df = df.reset_index().merge(hdi, on="country")

# Exportar CSV
df.to_csv("csv/flourish_scatter_hdi_vs_discussion_with_disorder.csv", index=False)

In [109]:
# Limpiar columnas clave
final_df["mh_employer_discussion"] = final_df["mh_employer_discussion"].str.strip()
final_df["mental_health"] = final_df["mental_health"].str.strip()
final_df["country"] = final_df["country"].str.strip()

# Filtrar personas con trastorno declarado
depressed = final_df[final_df["mental_health"] == "Yes"]

# Filtrar solo respuestas válidas
valid = depressed[depressed["mh_employer_discussion"].isin(["Yes", "No", "Maybe"])]

# Calcular total y sí por país
total = valid.groupby("country").size().rename("total_with_disorder")
yes = valid[valid["mh_employer_discussion"] == "Yes"].groupby("country").size().rename("yes_discuss")

# Combinar y calcular %
df = pd.concat([total, yes], axis=1).fillna(0)
df["percent_discuss_with_disorder"] = df["yes_discuss"] / df["total_with_disorder"]

# Escalar tamaño para el punto
df["point_size"] = np.sqrt(df["total_with_disorder"])

# Traer variables estructurales
avg_vars = [
    "avg_hdi_country",
    "avg_health_exp_country",
    "life_satisfaction_score_country",
    "freedom_life_choices_country",
    "social_support_country",
    "healthy_life_expectancy_country",
    "gdp_log_country",
    "generosity_country",
    "corruption_perception_country"
]

structural = final_df[["country"] + avg_vars].drop_duplicates()

# Unir
full = df.reset_index().merge(structural, on="country", how="left")

# Añadir región manualmente
region_map = {
    "United States": "North America",
    "Canada": "North America",
    "Germany": "Europe",
    "France": "Europe",
    "Spain": "Europe",
    "Portugal": "Europe",
    "Brazil": "South America",
    "India": "Asia",
    "Japan": "Asia",
    "Pakistan": "Asia",
    "Australia": "Oceania",
    "Sweden": "Europe",
    "United Kingdom": "Europe",
    "Mexico": "North America",
    "Philippines": "Asia",
    "Colombia": "South America",
    "Netherlands": "Europe",
    "Austria": "Europe",
    "Greece": "Europe",
    "Mongolia": "Asia",
    "Estonia": "Europe",
    "Ireland": "Europe",
    "Switzerland": "Europe",
    "Kenya": "Africa",
    "Indonesia": "Asia",
    "Finland": "Europe",
    "Norway": "Europe"
}

full["region"] = full["country"].map(region_map)

# Exportar CSV final para Flourish
full.to_csv("csv/flourish_full_employer_discussion_vs_structure.csv", index=False)

In [121]:
# Calcular el porcentaje de personas con un trastorno que pueden hablar con su jefe
# y cruzarlo con el nivel de libertad de vida en su país

# Filtrar personas que declaran tener un trastorno de salud mental
df_filtered = final_df[final_df["mental_health"] == "Yes"].copy()

# Limpiar posibles espacios en las respuestas
df_filtered["mh_employer_discussion"] = df_filtered["mh_employer_discussion"].str.strip()

# Filtrar respuestas válidas en la pregunta sobre apertura con el empleador
valid = df_filtered[df_filtered["mh_employer_discussion"].isin(["Yes", "No", "Maybe"])]

# Calcular el total de personas con trastorno por país
total = valid.groupby("country").size().rename("total_with_disorder")

# Calcular cuántas de esas personas respondieron "Yes"
yes = valid[valid["mh_employer_discussion"] == "Yes"].groupby("country").size().rename("yes_discuss")

# Calcular el porcentaje de apertura
summary = pd.concat([total, yes], axis=1).fillna(0)
summary["percent_discuss_with_disorder"] = summary["yes_discuss"] / summary["total_with_disorder"]

# Añadir la variable estructural 'freedom_life_choices_country' por país
freedom = final_df[["country", "freedom_life_choices_country"]].drop_duplicates()

# Unir los dos conjuntos de datos
plot_df = summary.reset_index().merge(freedom, on="country")

# Exportar el conjunto final a un archivo CSV para usar en Flourish
plot_df.to_csv("csv/flourish_scatter_freedom_vs_discussion_with_disorder.csv", index=False)

In [129]:
# Filtrar personas que declaran tener un trastorno
filtered_df = final_df[final_df["mental_health"] == "Yes"].copy()
filtered_df["mh_employer_discussion"] = filtered_df["mh_employer_discussion"].str.strip()

# Filtrar respuestas válidas
valid = filtered_df[filtered_df["mh_employer_discussion"].isin(["Yes", "No", "Maybe"])]

# Calcular apertura por país
total_with_disorder = valid.groupby("country").size().rename("total_with_disorder")
yes_discuss = valid[valid["mh_employer_discussion"] == "Yes"].groupby("country").size().rename("yes_discuss")

# Calcular porcentaje
discussion_df = pd.concat([total_with_disorder, yes_discuss], axis=1).fillna(0)
discussion_df["percent_discuss_with_disorder"] = discussion_df["yes_discuss"] / discussion_df["total_with_disorder"]
discussion_df = discussion_df.reset_index()

# Calcular % "Yes" por país en variables de apoyo
support_vars = ["benefits", "workplace_resources", "medical_coverage"]
support_data = []

for var in support_vars:
    temp = (
        final_df[final_df[var].isin(["Yes", "No"])]
        .groupby("country")[var]
        .value_counts(normalize=True)
        .rename("percentage")
        .reset_index()
    )
    temp = temp[temp[var] == "Yes"]
    temp = temp[["country", "percentage"]].rename(columns={"percentage": f"percent_{var}"})
    support_data.append(temp)

support_df = support_data[0]
for other in support_data[1:]:
    support_df = support_df.merge(other, on="country", how="outer")  # usar outer aquí para no perder países útiles

# Añadir variables estructurales
structural_vars = [
    "avg_hdi_country",
    "freedom_life_choices_country",
    "life_satisfaction_score_country",
    "corruption_perception_country",
    "avg_health_exp_country",
    "social_support_country",
    "healthy_life_expectancy_country",
    "gdp_log_country",
    "generosity_country"
]
structural_df = final_df[["country"] + structural_vars].drop_duplicates()

# Combinar
merged = discussion_df.merge(support_df, on="country", how="left")
merged = merged.merge(structural_df, on="country", how="left")

# Calcular tamaño del punto (para scatter plots) y marcar si tiene muestra suficiente
merged["point_size"] = np.sqrt(merged["total_with_disorder"].fillna(0))
merged["sufficient_sample"] = merged["total_with_disorder"] >= 5

# Exportar CSV final
merged.to_csv("csv/df_scatterplot_general_flexible.csv", index=False)

In [131]:
# Preparar datos de personas con trastorno
df_yes = final_df[final_df["mental_health"] == "Yes"].copy()
df_yes["mh_employer_discussion"] = df_yes["mh_employer_discussion"].str.strip()
valid_yes = df_yes[df_yes["mh_employer_discussion"].isin(["Yes", "No", "Maybe"])]

total_yes = valid_yes.groupby("country").size().rename("total_with_disorder")
yes_yes = valid_yes[valid_yes["mh_employer_discussion"] == "Yes"].groupby("country").size().rename("yes_discuss")

df_disorder = pd.concat([total_yes, yes_yes], axis=1).fillna(0).reset_index()
df_disorder["percent_discuss"] = df_disorder["yes_discuss"] / df_disorder["total_with_disorder"]
df_disorder["group"] = "With disorder"
df_disorder = df_disorder.rename(columns={"total_with_disorder": "total_responses"})

# Preparar datos de la población general
df_all = final_df.copy()
df_all["mh_employer_discussion"] = df_all["mh_employer_discussion"].str.strip()
valid_all = df_all[df_all["mh_employer_discussion"].isin(["Yes", "No", "Maybe"])]

total_all = valid_all.groupby("country").size().rename("total_all")
yes_all = valid_all[valid_all["mh_employer_discussion"] == "Yes"].groupby("country").size().rename("yes_discuss")

df_general = pd.concat([total_all, yes_all], axis=1).fillna(0).reset_index()
df_general["percent_discuss"] = df_general["yes_discuss"] / df_general["total_all"]
df_general["group"] = "General population"
df_general = df_general.rename(columns={"total_all": "total_responses"})

# Unir ambos DataFrames
combined = pd.concat([df_disorder, df_general], ignore_index=True)

# Añadir variable estructural (opcional)
freedom = final_df[["country", "freedom_life_choices_country"]].drop_duplicates()
combined = combined.merge(freedom, on="country", how="left")

# Exportar CSV final
combined.to_csv("csv/flourish_comparison_disorder_vs_general.csv", index=False)